
#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, MS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    timeout-ms = <MS>; \
  };

#define COMBO_TERM_FAST 14
#define COMBO_TERM_NORMAL 20
#define COMBO_TERM_SLOW 45

combos {
  compatible = "zmk,combos";

  COMBO(q, &kp Q, 2 3, BASE NAV SYM, COMBO_TERM_NORMAL)
  COMBO(z, &kp Z, 21 22, BASE NAV SYM, COMBO_TERM_NORMAL)
  COMBO(v, &kp V, 1 2, BASE NAV SYM, COMBO_TERM_NORMAL)
  COMBO(lshift, &sk LSHIFT, 11 12, BASE NAV SYM NUM NUMPD FUN, COMBO_TERM_FAST)
  COMBO(rshift, &sk RSHIFT, 17 18, BASE NAV SYM NUM NUMPD FUN, COMBO_TERM_FAST)
  COMBO(numpad, &mo NUMPD, 26 27, BASE GAME NAV SYM NUM NUMPD FUN, COMBO_TERM_SLOW)
  COMBO(function, &mo FUN, 28 29, BASE GAME NAV SYM NUM NUMPD FUN, COMBO_TERM_SLOW)
  COMBO(backspace, &kp BSPC, 23 24, BASE GAME NAV SYM NUM NUMPD FUN, COMBO_TERM_SLOW)
  COMBO(del_word, &kp LC(BSPC), 23 25, BASE GAME NAV SYM NUM NUMPD FUN, COMBO_TERM_SLOW)
  COMBO(enter, &kp RET, 19 25, BASE GAME NAV SYM NUM NUMPD FUN, COMBO_TERM_NORMAL)
  COMBO(escape, &kp ESC, 0 1, BASE GAME NAV SYM NUM NUMPD FUN, COMBO_TERM_NORMAL)
  COMBO(dquote, &kp DQT, 7 8, BASE GAME NAV SYM NUM NUMPD FUN, COMBO_TERM_NORMAL)
  COMBO(delete, &kp DEL, 8 9, BASE GAME NAV SYM NUM NUMPD FUN, COMBO_TERM_NORMAL)
  COMBO(lbkt, &kp LBKT, 1 11, BASE NAV SYM NUM NUMPD FUN, COMBO_TERM_FAST)
  COMBO(lpar, &kp LPAR, 2 12, BASE NAV SYM NUM NUMPD FUN, COMBO_TERM_FAST)
  COMBO(lbrc, &kp LBRC, 3 13, BASE NAV SYM NUM NUMPD FUN, COMBO_TERM_FAST)
  COMBO(labk, &kp LESS_THAN, 4 14, BASE NAV SYM NUM NUMPD FUN, COMBO_TERM_FAST)
  COMBO(rabk, &kp GREATER_THAN, 5 15, BASE NAV SYM NUM NUMPD FUN, COMBO_TERM_FAST)
  COMBO(rbrc, &kp RBRC, 6 16, BASE NAV SYM NUM NUMPD FUN, COMBO_TERM_FAST)
  COMBO(rpar, &kp RPAR, 7 17, BASE NAV SYM NUM NUMPD FUN, COMBO_TERM_FAST)
  COMBO(rbkt, &kp RBKT, 8 18, BASE NAV SYM NUM NUMPD FUN, COMBO_TERM_FAST)
  COMBO(capslock, &kp CAPS, 1 8, BASE GAME, COMBO_TERM_NORMAL)
  COMBO(capsword, &caps_word, 2 7, BASE GAME, COMBO_TERM_NORMAL)
  COMBO(g_ctrl, &kp LCTL, 0 10, GAME, COMBO_TERM_NORMAL)
  COMBO(g_v, &kp V, 14 22, GAME, COMBO_TERM_NORMAL)
  COMBO(g_g, &kp G, 4 14, GAME, COMBO_TERM_NORMAL)
  COMBO(g_b, &kp B, 10 20, GAME, COMBO_TERM_NORMAL)
}; 